<app-hero></app-hero>

<div class="card-holder">
  <div class="featured-five cards">
    <h2>Featured Five</h2>

    <ng-container *ngFor="let artist of featuredArtists">
      <app-card
        artist="{{ artist.name }}"
        genre="{{ artist.genre }}"
      ></app-card>
    </ng-container>
  </div>

  <div class="coming-up cards">
    <h2>Up and Coming</h2>

    <ng-container *ngFor="let artist of allArtists" class="cards">
      <app-card
        artist="{{ artist.name }}"
        genre="{{ artist.genre }}"
      ></app-card>
    </ng-container>
  </div>
</div>

<router-outlet />
